<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Details</title>
    <style>
      table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }

      tr.Available {
        background-color: white;
      }

      tr.Locked {
        background-color: red;
      }

      tr.Sold {
        background-color: blue;
      }

      tr.Reserved {
        background-color: yellow;
      }
    </style>
  </head>

  <body>
    <h1>Property Details</h1>

    <p>
      Available: <%= NumberofAvailable %><br />
      Sold: <%= NumberofSold %><br />
      Reserved: <%= NumberofReserved %><br />
      Locked: <%= NumberofLocked %>
    </p>

    <table>
      <tr>
        <th>Property ID</th>
        <th>Status</th>
        <th>Last Update</th>
        <th>Remaining Time</th>
        <th>Reserved By</th>
        <th>Reserved On</th>
      </tr>
      <% data.forEach(property => { %>
      <tr class="<%= property.status %>">
        <td><%= property.propertyId %></td>
        <td><%= property.status %></td>
        <td><%= property.lastUpdate %></td>
        <td>
          <span id="remainingTime_<%= property.propertyId %>"
            ><%= property.remainingTime %></span
          >
        </td>
        <td><%= property.reservedBy %></td>
        <td><%= property.reservedOn %></td>
      </tr>
      <% }); %>
    </table>
    <script>
      const elements = document.querySelectorAll('[id^="remainingTime_"]');
      const originalTimeArray = [];
      elements.forEach((element) => {
        originalTimeArray.push(new Date(element.textContent));
      });
      // Function to update remaining time every second
      function updateRemainingTime() {
        const pacificTime = new Date();

        elements.forEach((element, index) => {
          let originalTime = originalTimeArray[index]; // Store the original Date object
          console.log(originalTime);
          let timeDifference = originalTime - pacificTime;

          if (!isNaN(timeDifference) && timeDifference > 0) {
            const remainingSeconds = Math.floor(timeDifference / 1000);
            const hours = Math.floor(remainingSeconds / 3600);
            const minutes = Math.floor((remainingSeconds % 3600) / 60);
            const seconds = remainingSeconds % 60;

            element.textContent = `${hours}h ${minutes}m ${seconds}s`;
          }
        });
      }

      setInterval(updateRemainingTime, 1000);
    </script>
  </body>
</html>
